<div *ngIf="usuario">
  <p>
    <b>Genero:</b> {{ usuario.gender }}
    <br>
    <b>Nombre:</b> {{ usuario.name['title'] }} {{ usuario.name['first'] }}  {{ usuario.name['last'] }}
  </p>
</div>

<div>
  <h2>Operador Map</h2>
  <button type="button" class="boton" (click)="showFemale()">Femenino</button>
  
  <div *ngIf="femenino">
    <p>
      <b>Genero:</b> {{ usuario2.gender }}
      <br>
      <b>Nombre:</b> {{ usuario2.name['title'] }} {{ usuario2.name['first'] }}  {{ usuario2.name['last'] }}
    </p>
  </div>

</div>

<div>
  <button type="button" class="boton" (click)="Pais()">Pais</button>
 
    <div *ngIf="pais">
      <p>
      <b>Pais:</b> {{ usuario.location["country"] }}
      </p>
    </div>
  
</div>


<div>
  <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>


<div>
  <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>
  <div *ngIf="usuario3">
    <p>
      <b>Nombre:</b> {{ usuario3.name['title'] }} {{ usuario3.name['first'] }}  {{ usuario3.name['last'] }}
    </p>
    <p>
      <b>Foto:</b>
      <br>
      <img [src]="usuario3['picture'].large" alt="persona">
    </p>
  </div>
</div>

<div>
  <button type="button" class="boton" (click)="mostrarfotos()">Mostar Fotos</button>
  <div *ngIf="usuario4">
    <p>
      <b>Nombre:</b> {{ usuario4.name['title'] }} {{ usuario4.name['first'] }}  {{ usuario4.name['last'] }}
    </p>
    <div>
    <p>
      
      <b>User name</b> {{ usuario4.login['username'] }}
    </p>
    <p>
      <b>Password</b> {{ usuario4.login['password'] }}
    </p>
    <p>
      <b>email</b> {{ usuario4.email }}
    </p>
    </div>
    <p>
      <b>Foto:</b>
      <br>
      <img [src]="usuario4['picture'].large" alt="persona1">
      <img [src]="usuario4['picture'].medium" alt="persona2">
      <img [src]="usuario4['picture'].thumbnail" alt="persona3">
    </p>
  </div>
</div>


